$primaryColor: "#F5F7FA";
$secondaryColor: "#161641";
$tertiaryColor: "#63D3C5";
$quaternaryColor: "#717171";
$quinaryColor: "#4D4D4D";
$btnColor: "#3458EB";
$primaryFont: 'Mulish', sans-serif;
$secondaryFont: 'Inter', sans-serif;
$primaryWeight: 800;
$secondaryWeight: 700;
$tertiaryWeight: 600;
$higherWeight: 500;
$lowerWeight: 400;
$bigFSize: "48px";
$headingSize: "36px";
$bigFSizeMobile: "34.44px";
$mediumFSize: "20px";
$headingSizeMobile: "18px";
$mediumFSizeMobile: "16px";
$smallFSize: "14px";
$smallFSizeMobile: "12.92px";
$smallFSizeMobile2: "10px";