@import "../../Styles/variables";

.navbar {
  &-brand {
    max-width: 200px;
    img {
      width: 100%;
    }
  }

  &-toggler {
    border: none !important;
    svg {
      width: 24px;
      height: 24px;
      color: #007bff;
    }
  }

  &-nav {
    gap: 20px;

    .nav-link {
      text-decoration: none;
      color: #555; 
      font-weight: 400; 
      transition: color 0.3s ease-in-out;

      &.active {
        font-weight: bold;
        color: $btnColor;
      }


        &:hover {
          color: #007bff; 
          text-decoration: none; 
        }
    }
  }

  .navLast {
    .loginBtn {
      color: $quinaryColor;
      text-decoration: none;
    }

    .signupBtn {
      background-color: $btnColor;
      border: none;
      padding: 10px 30px;
      border-radius: 5px;
      color: $primaryColor;
      cursor: pointer;

      &:hover {
        background-color: $quinaryColor;
      }
    }
  }
}

@media (max-width: 991px) {
  .signupBtn {
    padding: 8px 16px;
  }
  .navbar-nav {
    gap: 5px;
  }
}
